.orders-full-page {
  display: flex;
}

.order h3 {
  font-weight: 600;
  margin-bottom: 10px;
  margin-left: 30px;
  font-size: 16px;
}

.order-list {
  margin: 30px;
}

.order-item {
  display: grid;
  grid-template-columns: 0.5fr 2fr 1fr 1fr 1fr;
  align-items: start;
  gap: 30px;
  border: 1px solid var(--primary-color);
  padding: 20px;
  margin: 30px auto;
  font-size: 14px;
  color: var(--secondary-color);
  border-radius: 8px;
}

.order-item img {
  width: 40px;
}

.order-item-food,
.order-item-name {
  font-weight: 600;
}

.order-item-name {
  margin-top: 30px;
}

.order-item-address {
  margin-bottom: 10px;
}

.order-item select {
  border: 1px solid var(--primary-color);
  color: var(--secondary-color);
  border-radius: 4px;
  width: max(10vw, 120px);
  padding: 5px;
  outline: none;
  background-color: var(--light-yellow);
}

@media (max-width: 1000px) {
  .order-item {
    font-size: 12px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 15px;
  }
  .order-item select {
    padding: 5px;
    font-size: 12px;
  }
  .order-item img {
    width: 20px;
  }
  .order-item-name {
    margin-top: 5px;
  }
}
