.list-full-page {
  display: flex;
}

.list h3 {
  font-weight: 600;
  margin-bottom: 10px;
  margin-left: 30px;
  font-size: 16px;
}

.list-table {
  width: 60vw;
  margin: 30px 20px;
}

.list-table-format {
  display: grid;
  grid-template-columns: 0.5fr 2fr 1fr 1fr 0.5fr;
  gap: 10px;
  padding: 12px 15px;
  border: 1px solid #ccc;
  border-bottom: none;
  font-size: 13px;
  align-items: center;
  justify-content: center;
}

.list-table-format:last-child {
  border-bottom: 1px solid #ccc;
}

.list-table-format.title {
  background-color: #f8f9fa;
  border-bottom: none;
}

.list-table-format img {
  width: 50px;
  height: 50px;
  object-fit: contain;
}

.list-table-format .action-icons {
  display: flex;
  gap: 10px;
  font-size: 16px;
}

.list-table-format .cross {
  color: darkred;
  cursor: pointer;
  transition: all 0.3s ease;
}

.list-table-format .edit {
  color: var(--dark-yellow);
  cursor: pointer;
  transition: all 0.3s ease;
}

.list-table-format .edit:hover,
.list-table-format .cross:hover {
  transform: scale(1.1);
}

.list-table-format .edit:active {
  fill: var(--primary-color);
}
.list-table-format .cross:active {
  fill: red;
}

.edit-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 600px) {
  .list-table-format {
    grid-template-columns: 1fr 3fr 1fr;
    gap: 15px;
  }

  .list-table-format .title {
    display: none;
  }
}
