.list-full-page {
  display: flex;
}

.list h3 {
  font-weight: 600;
  margin-bottom: 10px;
}

.list-table-format {
  display: grid;
  grid-template-columns: 0.5fr 2fr 1fr 1fr 0.5fr;
  gap: 10px;
  padding: 12px 15px;
  border: 1px solid #ccc;
  font-size: 13px;
  align-items: center;
  justify-content: center;
}

.list-table-format .title {
  background-color: #ccc;
}

.list-table-format img {
  width: 50px;
}

.list-table-format .cross {
  color: darkred;
  cursor: pointer;
}

@media (max-width: 600px) {
  .list-table-format {
    grid-template-columns: 1fr 3fr 1fr;
    gap: 15px;
  }

  .list-table-format .title {
    display: none;
  }
}
