.food-item {
  width: 100%;
  margin: auto;
  border-radius: 15px;
  box-shadow: 0px 0px 10px #00000015;
  transition: 0.2s;
  animation: fadeIn 1s;
  overflow: hidden;
  box-sizing: border-box;
  height: max(390px, 33vh);
}

.food-item-container-img {
  position: relative;
}

.image-div {
  overflow: hidden;
  height: max(200px, 20vh);
}

.image-div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* padding: 10px;
  padding-bottom: 0; */
  background-color: var(--secondary-color);
  background: url(../../assets/black-bg.jpg);
  background-size: cover;
  background-color: var(--primary-color);
}

.food-item:hover .food-item-image {
  transform: scale(1.05);
  object-fit: cover;
  overflow: hidden;
}

.food-item-image {
  width: 100%;
  border-radius: 20px 20px 0px 0px;
  transition: all 0.3s ease-in-out;
  object-fit: cover;
  object-position: 0 10px;
}

.food-item-info {
  padding: 20px;
}

.food-item-name-rating {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.food-item-name-rating p {
  font-size: 16px;
  font-weight: 500;
}

.food-item-name-rating img {
  width: 70px;
  transform: translate(5px, -15px);
}

.food-item-description {
  color: var(--secondary-color);
  color: #777;
  font-size: 12px;
  height: 80px;
}

.food-item-price {
  color: var(--dark-yellow);
  color: var(--primary-color);
  color: var(--secondary-color);
  font-weight: 600;
  font-size: 22px;
  margin: 10px 0px 20px;
  /* text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.05); */
}

.food-item-container-img .add {
  width: 35px;
  position: absolute;
  bottom: 15px;
  right: 15px;
  cursor: pointer;
  border-radius: 50%;
}

.food-item-counter {
  position: absolute;
  bottom: 10px;
  right: 15px;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 6px;
  border-radius: 50px;
  background-color: white;
}

.food-item-counter img {
  width: 30px;
}

.add-first {
  width: 30px;
  position: absolute;
  /* top: 10px; */
  bottom: 10px;
  right: 15px;
  border-radius: 50%;
  background-color: white;
  background-color: #000;
  cursor: pointer;
  border: none;
  transition: transform 0.3s ease;
  animation: bounce 3s infinite;
}

/* Keyframe for bounce effect */
@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0); /* Start position */
  }
  40% {
    transform: translateY(-7px); /* Bounces up */
  }
  60% {
    transform: translateY(-5px); /* Bounces back down */
  }
}

.add-first:hover {
  transform: scale(1.1);
  animation: none;
}

.add-first:active {
  transform: scale(0.9);
}

.icon {
  font-size: 25px;
  fill: #000;
  transition: all 0.3s ease;
}

.add-icon {
  fill: var(--dark-yellow);
}

.add-icon:hover {
  fill: var(--primary-color);
}

.remove-icon:hover {
  fill: var(--secondary-color);
}
