.hero {
  height: 34vw;
  margin: 30px auto;
  /* background: url("hero_img.png") no-repeat;
  background-size: contain; */
  position: relative;
}

.hero-bg-img {
  /* width: 80%; */
  height: 34vw;
  position: absolute;
  top: 0;
  z-index: -1;
  object-fit: cover;
  border-radius: 20px;
  filter: brightness(95%) blur(0.05px);
}

.hero-contents {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1.5vw;
  max-width: 50%;
  top: 20%;
  left: 6vw;
  animation: fadeIn 3s;
}

.hero-contents h2 {
  font-weight: 500;
  color: white;
  font-size: max(3.5vw, 22px);
  text-transform: capitalize;
}

.hero-contents p {
  font-size: 1.25vw;
  color: rgba(255, 255, 255, 0.7);
}

.hero-contents button {
  border: none;
  color: var(--secondary-color);
  font-weight: 500;
  padding: 1vw 2.3vw;
  background-color: white;
  font-size: max(1vw, 16px);
  border-radius: 50px;
  text-transform: capitalize;
  transition: transform 0.3s ease-in;
  margin-top: 10px;
}

.hero-contents button:hover {
  transform: scale(1.02);
}

@media (max-width: 1050px) {
  .hero-contents {
    max-width: 45%;
  }
}

@media (max-width: 750px) {
  .hero-contents {
    max-width: 65%;
    top: 10%;
    gap: 1vw;
  }

  .hero-contents p {
    display: none;
  }

  .hero-contents button {
    padding: 2vw 4vw;
  }
}
