.explore-menu {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.explore-menu h2 {
  color: var(--secondary-color);
  font-weight: 600;
  text-transform: capitalize;
}

.explore-menu-text {
  max-width: 60%;
  color: var(--secondary-color);
}

.explore-menu-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  text-align: center;
  margin: 20px 0px;
  overflow-x: scroll;
  padding: 5px;
}

.explore-menu-list::-webkit-scrollbar {
  display: none;
}

.explore-menu-list-item img {
  width: 7.5vw;
  min-width: 80px;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.2s ease-in;
}

.explore-menu-list-item img:hover {
  transform: scale(1.03);
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 50px;
}

.explore-menu-list-item p {
  margin-top: 10px;
  color: var(--secondary-color);
  font-size: max(1.4vw, 16px);
  cursor: pointer;
}

.explore-menu-list-item .active {
  border: 4px solid var(--primary-color);
  padding: 2px;
}

.explore-menu hr {
  margin: 10px 0px;
  height: 2px;
  background-color: #cccccc;
  border: none;
}

@media (max-width: 1050px) {
  .explore-menu-text {
    max-width: 100%;
    font-size: 14px;
  }
}
